body
{
    font-family: 'Andada Pro', serif;
    background-color:rgb(246, 237, 151);

    --color1: rgb(251, 202, 210);
}

header
{
    background-color: var(--color1);
}

main
{
    margin: 10px;
    font-size: 12px;
}

img
{
    width: 160px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer
{
    padding: 10px;
}

svg 
{
    color: rgb(151, 192, 246);
    margin-right: 5px;
}

h1
{
    margin-left: 10px;
}
a
{
    margin-left: 10px;
    font-size: 10px;
}